@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Georgia";
  src: url(../fonts/Georgia.ttf);
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

.is-active {
  color: #62c6f8;
}

.text-white {
  color: #FFFFFF;
}

.text-blue {
  color: #4BBC56;
}

.text-center {
  text-align: center;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.breadcrumb {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.breadcrumb-item {
  display: inline-block;
}

.breadcrumb-link, .breadcrumb-current {
  display: inline-block;
  text-align: center;
  padding: 0 10px;
}

.breadcrumb li + li::before {
  color: black;
  content: "/ ";
  padding: 0 0.4em;
}

.btn {
  color: #FFFFFF;
}

.btn--primary {
  background-color: #4BBC56;
  padding: 10px 40px;
  border: 0;
}

.form-sidebar {
  background-color: #D9E4E9;
  margin-top: 2.3em;
}

.form-contact {
  padding: 20px;
}

.form-title {
  margin: 0;
}
.form-title::after {
  border-bottom: 2px solid #62C6F8;
  width: 25%;
  content: "";
  display: block;
  margin-top: 15px;
}

.form-input-control {
  margin-top: 15px;
}
.form-input-control:last-child {
  text-align: center;
  margin-bottom: 0;
}

.form-input {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.row {
  margin: 0 -10px;
}
.row:after {
  display: table;
  clear: both;
  content: "";
}

/* Header top */
.header-top {
  padding: 0.9em 0;
}
.header-top .container {
  position: relative;
}
.header-top .container .header-logo-top {
  display: inline-block;
}
.header-top .container .header-logo-content {
  display: inline-block;
  margin-left: 20px;
  line-height: 1.6em;
  position: relative;
  top: -11px;
}
.header-top .container .header-logo-content .header-logo-title {
  line-height: 1.4em;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
}
.header-top .container .header-logo-content .header-logo-desc {
  line-height: 1.4em;
  font-weight: lighter;
}
.header-top .container .header-contact {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

/* Header bottom */
.header-bottom {
  border-bottom: 1px solid #62C6F8;
  border-top: 1px solid #62C6F8;
}

.menu-list .menu-item {
  float: left;
  border-right: 1px solid #62C6F8;
}
.menu-list .menu-item:last-child {
  border-right: none;
}
.menu-list .menu-item .menu-link {
  display: block;
  text-align: center;
  font-size: 0.8em;
  padding: 20px;
  color: #909090;
}
.menu-list .menu-item .menu-link:hover {
  color: #62c6f8;
}
.menu-list .menu-icon {
  display: none;
}

.social-list .social-item {
  float: left;
}
.social-list .social-item .social-link {
  padding: 20px 5px;
  display: block;
  text-align: center;
  font-size: 0.8em;
}

.section-banner {
  background: url("../images/img-banner.png") no-repeat;
  min-height: 160px;
  position: relative;
}

/* Sidebar */
.side-bar {
  width: 25%;
  float: left;
}
.side-bar .healthy-item-title {
  float: left;
  margin: 0;
}

.dropdown-controller {
  background-color: #D9E4E9;
  padding: 16px;
  cursor: pointer;
}
.dropdown-controller .dropdown-btn {
  float: right;
  background-color: #D9E4E9;
  border: 0;
}

.sub-healthy-list {
  display: none;
  padding: 20px 0 20px 20px;
}
.sub-healthy-list .sub-healthy-item {
  padding: 6px 16px;
  cursor: pointer;
}
.sub-healthy-list .sub-healthy-item::before {
  content: "•";
  color: #FFFFFF;
  padding-right: 5px;
}
.sub-healthy-list .sub-healthy-item .sub-healthy-item-title {
  text-transform: initial;
  font-size: 1em;
}

.page-footer {
  background-color: #62C6F8;
  margin-top: 3%;
}
.page-footer .footer-content {
  padding: 20px 0;
}
.page-footer .footer-bottom {
  padding-bottom: 20px;
}
.page-footer .footer-bottom::before {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #EDEDED;
  margin-bottom: 20px;
}
.page-footer .footer-bottom .footer-copyright, .page-footer .footer-bottom .footer-author {
  text-transform: uppercase;
}

.info-item {
  float: left;
  width: 33.33%;
}
.info-item .info-title {
  margin-bottom: 0.7em;
}
.info-item .sub-info-item {
  padding: 6px 8px 6px 16px;
  cursor: pointer;
}
.info-item .sub-info-item::before {
  content: "•";
  color: #FFFFFF;
  padding-right: 5px;
}

/* Main content */
.page-content {
  margin-top: 5%;
}

.main-content {
  width: 75%;
  float: right;
}

.service-item {
  float: left;
  width: 30%;
  margin: 0 0 3% 3%;
  border: 1px solid #EDEDED;
}

.service-top {
  display: inline-block;
}

.service-image {
  width: 100%;
  height: 190px;
}

.service-content {
  padding-left: 8%;
  margin: 0.6em 0;
}

.service-title {
  margin: 0.4em 0;
}

.service-link {
  float: right;
  background-color: #62C6F8;
  color: #FFFFFF;
}

/* Media queries */
@media screen and (max-width: 1023px) {
  .header-menu, .menu-item {
    float: none;
  }

  .menu-list {
    text-align: center;
  }

  .menu-item {
    display: inline-block;
  }

  .menu-link {
    padding: 1.4em 0.9em;
  }

  .header-sociality {
    display: none;
  }

  .sub-healthy-item-title {
    font-size: 0.78em;
  }

  .service-item {
    float: left;
    width: 46%;
    margin: 0 0 3% 3%;
  }

  .service-item:last-child {
    display: none;
  }

  .service-content {
    margin: 0.7em 0;
  }

  .service-description {
    margin-top: 0.4em;
    font-size: 0.9em;
  }

  .page-footer {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 767px) {
  .header-top {
    text-align: center;
  }

  .header-logo, .header-contact {
    float: none;
  }

  .header-contact {
    margin-top: 0.5em;
    position: static;
    transform: none;
  }

  .menu-list {
    margin: 0 3em;
  }

  .menu-item:not(:first-child) {
    display: none;
  }

  .menu-item:first-child {
    border: none;
    float: left;
  }

  .menu-icon {
    display: inline-block;
    float: right;
    padding: 14px 20px;
  }

  .healthy-list {
    display: none;
  }

  .form-sidebar {
    margin-top: 0;
  }

  .side-bar, .main-content {
    width: 100%;
  }

  .main-content {
    margin-top: 1em;
  }

  .service-item {
    width: 46%;
  }

  .footer-copyright, .footer-author {
    display: block;
    float: none;
    text-align: center;
  }

  .footer-copyright {
    margin-bottom: 0.4em;
  }
}
@media screen and (max-width: 479px) {
  .header-logo, .header-contact, .footer-copyright, .footer-author {
    float: none;
    display: block;
    text-align: center;
  }

  .header-contact {
    position: static;
    transform: none;
    margin-top: 1em;
  }

  .healthy-list {
    display: none;
  }

  .side-bar, .main-content, .service-top, .service-item, .form-title:after {
    width: 100%;
  }

  .form-title, .service-title {
    text-align: center;
  }

  .service-title, .service-description {
    margin: 0.5em 0;
  }

  .service-item {
    width: 100%;
    margin: 0;
  }

  .service-content {
    padding: 0;
  }

  .service-link {
    display: none;
  }

  .footer-title, .footer-copyright, .footer-author {
    font-size: 0.85em;
  }

  .info-link {
    font-size: 0.6em;
  }

  .sub-info-item::before {
    content: none;
  }

  .footer-img {
    margin-right: 0.3em;
  }

  .footer-copyright {
    margin-bottom: 0.7em;
  }
}

/*# sourceMappingURL=styles.css.map */
