.page-footer {
  background-color: $background-color;
  margin-top: 3%;
  .footer-content {
    padding: 20px 0;
  }
  .footer-bottom {
    padding-bottom: 20px;
    &::before {
      display: block;
      content: '';
      height: 1px;
      width: 100%;
      background-color: $border-color;
      margin-bottom: 20px;
    }
    .footer-copyright, .footer-author {
      text-transform: uppercase;
    }
  }
}

.info-item {
  @extend .pull-left;
  width: 33.33%;
  .info-title {
    margin-bottom: .7em;
  }
  .sub-info-item {
    padding: 6px 8px 6px 16px;
    cursor: pointer;
    &::before {
      content: '•';
      color: $white-color;
      padding-right: 5px;
    }
  }
}