$breakpoints: (
  small: 480px,
  medium: 768px,
  wide: 960px,
  large: 1024px,
  largest: 1280px
);
$default-color: #D9E4E9;
$blue-color: #4BBC56;
$white-color: #FFFFFF;

$border-color: #EDEDED;
$background-color: #62C6F8;

$footer-bg-color: #62C6F8;
$menu-link-color: #909090;
$sidebar-bg-color: #D9E4E9;
