.breadcrumb {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  .breadcrumb-item {
    display: inline-block;
    .breadcrumb-link, .breadcrumb-current {
      display: inline-block;
      text-align: center;
      padding: 0 10px;
    }
  }
}
.breadcrumb-item + .breadcrumb-item {
  &::before {
    color: black;
    content: "/"+ $space;
    padding: 0 .4em;
  }
}
